
@grey-lite: #DCDCDC;
@grey-medium: #808080;
@grey-strong: #696969;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: @grey-lite;
	font-family: "OpenSansExtraBold";
	padding: 15px;
	box-sizing: border-box;
}

.resume {
	background-color: white;
	background-image: url(../pictures/background.png);
	border-radius: 5px;
	min-height: 100%;
	max-width: 1920px;
	margin: 0 auto;

	.main {
		width: 40%;
		float: left;
		padding-top: 100px;

		.photo-frame {
			background-image: url(../pictures/photo.jpg);
			background-position: center;
			background-size: cover;
			border-radius: 50% 50%;
			width: 200px;
			height: 200px;
			box-shadow: 0 0 10px @grey-medium;
			margin: 0 auto 50px;
		}

		.name {
			color: @grey-strong;
			font-size: 24px;
			margin: 0 auto 50px;
			text-align: center;
		}

		.contacts {
			width: 140px;
			margin: 0 auto 150px;
			.network {
				display: block;
				width: 60px;
				height: 60px;
				background: url(../pictures/icons.png);
			}
			.vk {
				float: left;
				background-position: -272px -109px;
				&:hover {
					background-position: -272px -20px;
				}
			}
			.in {
				float: right;
				background-position: -188px -109px;
				&:hover {
					background-position: -188px -20px;
				}
			}
		}
	}

	.secondary {
		width: 60%;
		float: right;
		padding-top: 80px;

		h1 {
			color: @grey-strong;
			font-size: 50px;
			margin: 0 0 30px;
		}

		.piece {
			margin-bottom: 30px;

			.qst {
				font-size: 24px;
				border-left: 5px solid @grey-strong;
				padding-left: 20px;
				color: @grey-strong;
			}

			.ans {
				padding-left: 20px;
				padding-top: 20px;
				color: @grey-medium;
				font-family: "OpenSansBold";
			}			
		}
	}
}

.clearfix {
	clear: both;
}

@media screen and (max-width: 768px) {
	.main, .secondary {
		width: 100%;
		float: none;
	}
}